@font-face{
    font-family:'monserratFont';
    src:url(/resource/monserratFont);
    font-family:'monserratBold';
    src:url(/resource/monserratBold);
}

.THIS #sfdc_username_container{
    margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:5px;
    padding-left:2px;
    margin:1px;
    color: #003B7C;
	background-color: #003B7C;
}
.THIS  .login-icon {
    color:#003B7C;
    font-size:22px;
    background-color: #003B7C;
}

.THIS  button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #003B7C;
    border-color: #357ebd;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'monserratBold', sans-serif;
    font-weight: 600;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS  button:hover {
    background-color:#003B7C;
    border-color:#285e8e;
    cursor:pointer;
}

.THIS  input.inputUsername {
    margin-left:10px;
    margin-top: 3px;
    border: 1px solid #ffffff;
    width: 85%;
    -webkit-appearance: none;
    font-size: 14px;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  a {
    color:white;
    text-decoration: none;
}
.THIS  a:hover {
    color:white;
    text-decoration: none;
}